    <body style="width:1100px; margin-left:250px; border: 5px dotted blue">
 
 
 <h1>Minimum Wages Spain</h1>
            <table class="table table-striped" >
                <thead>
                    <tr><h4>ApiKey: hf5HF86KvZ</h4></tr>
                    <tr>
                        <td class="info">Please introduce your ApiKey:<input class="form-control" ng-model="apikey" placeholder="APIKEY"></th>
                                                                        <p class="help-block">Si no dispone de APIKEY pida una al administrador</p>

                        <td class="info"><button class="btn btn-success" ng-click="getData()">Get</button></th>

                    </tr>

                     <tr>

                        <th class="success">Introduce LIMIT<input class="form-control" ng-model="limit" placeholder="Limit"></th>
                        <th class="success">Introduce OFFSET<input class="form-control" ng-model="offset" placeholder="Offset"></th>
                        <th class="success"><button class="btn btn-success" ng-click="getDataPag()">Get</button></th>
                    </tr>
                    <tr>
                        <th class="danger">Introduce FROM<input class="form-control" ng-model="newWage.from" placeholder="From"></th>
                        <th class="danger">Introduce TO<input class="form-control" ng-model="newWage.to"placeholder="To"></th>
                        <th class="danger"><button class="btn btn-success" ng-click="searches()">Search</button></th>
                    </tr>
                    <tr>
                        <th><button class="btn btn-danger" ng-click="deleteAllWages()">Delete All</button></th>
                        <th><button class="btn btn-primary" ng-click="loadInitialData()">Load Initial Data</button></th>
                    </tr>
                </thead>
            </table>
           
           
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>Province</th>
                        <th>Year</th>
                        <th>Varied</th>
                        <th>AverageWage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="info"><input class="form-control" ng-model="newWage.province" placeholder="Province"></td>
                        <td class="info"><input class="form-control" ng-model="newWage.year" placeholder="Year"></td>
                        <td class="info"><input class="form-control" ng-model="newWage.varied" placeholder="varied"></td>
                        <td class="info"><input class="form-control" ng-model="newWage.averageWage" placeholder="Average Wage"></td>
                        <td class="info" ><button class="btn btn-warning" ng-click="addStats()">Add</button></td>
                    </tr>
                    <tr>
                      <td class="warning"><input class="form-control" ng-model="newWage.province" placeholder="Province"></td>
                        <td class="warning"><input class="form-control" ng-model="newWage.year" placeholder="Year"></td>
                        <td class="warning"><input class="form-control" ng-model="newWage.varied" placeholder="Varied"></td>
                       <td class="warning"><input class="form-control" ng-model="newWage.averageWage" placeholder="Average Wage"></td>
                        <td class="warning" ><button class="btn btn-warning" ng-click="putStats()">Put </button></td>
                    </tr>
                    <tr>
                        <td class="success"><input class="form-control" ng-model="newWage.province" placeholder="Province"></td>
                        <td class="success"><input class="form-control" ng-model="newWage.year" placeholder="Year"></td>
                        <td class="success"><button class="btn btn-danger" ng-click="deleteWage()">Delete</button></td>
                                                <!--wage.province,wage.year-->
                    </tr>
                   
                    <tr ng-repeat="wage in wages">

                        <td class="danger"><a href="#!/wage/{{wage.province}}/{{wage.year}}">{{wage.province}}</a></td>
                        <td class="warning">{{wage.year}}</td>
                        <td class="info">{{wage['varied']}}</td>
                        <td class="success">{{wage['averageWage']}}</td>
                        <td class="warning"><button class="btn btn-danger" ng-click="deleteOneSalary(wage.province,wage.year)">DELETE</button></td>

                        <!--wage.province,wage.year-->
                    </tr>
                </tbody>
                    <tfoot><button class="btn btn-warning" ng-click="getPreviousPage()">Previous page</button><button class="btn btn-warning" ng-click="getNextPage()">Next page</button></tfoot>

            </table>
            
            </body>
                